:local(.styles) {
  .add-btn {
    margin-top: -60px;
  }

  .more-btn {
    position: absolute;
    right: 0px;
  }

  .container {
    padding-bottom: 0px;
    line-height: 10px;
    color: white;
  }

  p {
      color: #ccc;
  }

  @media (min-width: 1100px) {
    .bottom-navigation {
      text-align: right;
    }
  }
}
