:local(.styles) {
  font-size: 18px;

  h2 {
    margin-bottom: 20px;
    text-transform: capitalize
  }

  .section {
    margin-bottom: 20px;

    .label,
    .value {
      display: inline-block;
      margin-bottom: 10px;
    }

  }

  #job-info{
    margin-bottom: 40px;
  }

  #accept-btn {
    position: absolute;
    bottom: 20px;
    width: 95%;
    left: 10px;
  }
}
