:local(.styles) {
  height: 100vh;

  h2 {
    margin-bottom: 20px;
    text-transform: capitalize
  }

  .section {
    margin-bottom: 40px;

    .label {
      font-size: 18px;
      display: inline-block;
      margin-bottom: 5px;
    }

    .value {
      max-height: 110px;
      overflow: hidden;
    }
  }

  #job-info{
    margin-bottom: 40px;
  }

  #accept-btn {
    width: 100%;
  }
}
